<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layyout"
    layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" />
</head>
<body>
<div layout:fragment="content1">
    <div class="col-6 offset-3 my-5">
        <form method="post" th:action="@{/admin/save(keyword=${keyword},page=${page})}">
            <div class="mt-2" >
                <label for="id" >Id :</label>
                <label th:text="${patient.id}"></label>
                <input class="form-control" type="hidden" id="id" name="id" th:value="${patient.id}">
                <small class="text-danger" th:errors="${patient.id}"></small>
            </div>
            <div class="mt-2" >
                <label for="name" >Nom</label>
                <input class="form-control" type="text" id="name" name="name" th:value="${patient.name}">
                <small class="text-danger" th:errors="${patient.name}"></small>
            </div>
            <div class="mt-2" >
                <label for="birthDate" >Date de naissance</label>
                <input class="form-control" type="date" id="birthDate" name="birthDate" th:value="${patient.birthDate}">
                <small class="text-danger" th:errors="${patient.birthDate}"></small>
            </div>
            <div class="mt-2" >
                <label for="malade" >Malade</label>
                <input type="checkbox" id="malade" name="malade" th:checked="${patient.malade}">
                <small class="text-danger" th:errors="${patient.malade}"></small>
            </div>
            <div class="mt-2" >
                <label for="score" >Score</label>
                <input class="form-control" type="number" id="score" name="score" th:value="${patient.score}">
                <small class="text-danger" th:errors="${patient.score}"></small>
            </div>
            <div class="mt-2" >
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</div>
</body>
</html>